html {
    font-family: sans-serif, monospace;
    /* background-color: rgb(207, 207, 207) */
}

body {
    display: flex;
}

.links a {
    background-color: red;
    text-decoration: none;

}

.container-sidebar {
    background: grey;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-flow: column;
    padding-top: 50px;
}

.main {
    padding-top: 50px;
    background-color: red;
    display: flex;
    justify-content: center;
}